httpx
ipaddress
ops
jinja2
juju==3.4.0.0
lightkube
lightkube-models
macaddress
pydantic==2.7.0
pydantic_extra_types
pytest-interface-tester
PyYAML>=6.0.1
cosl # required by prometheus_k8s.v0.prometheus_scrape
