name: Main branch CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint-report:
    uses: canonical/sdcore-github-workflows/.github/workflows/lint-report.yaml@main

  static-analysis:
    uses: canonical/sdcore-github-workflows/.github/workflows/static-analysis.yaml@main

  unit-tests-with-coverage:
    uses: canonical/sdcore-github-workflows/.github/workflows/unit-test.yaml@main

  integration-test:
    uses: canonical/sdcore-github-workflows/.github/workflows/integration-test-with-multus.yaml@main
    with:
      charm-file-name: "sdcore-upf_ubuntu-22.04-amd64.charm"

  publish-charm:
    name: Publish Charm
    needs:
      - lint-report
      - static-analysis
      - unit-tests-with-coverage
      - integration-test
    if: ${{ github.ref_name == 'main' }}
    uses: canonical/sdcore-github-workflows/.github/workflows/publish-charm.yaml@main
    with:
      charm-file-name: "sdcore-upf_ubuntu-22.04-amd64.charm"
    secrets: inherit

  lib-needs-publishing:
    runs-on: ubuntu-22.04
    outputs:
      needs-publishing: ${{ steps.changes.outputs.fiveg_n3 }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            fiveg_n3:
              - 'lib/charms/sdcore_upf/v0/fiveg_n3.py'

  publish-lib:
    name: Publish Lib
    needs:
      - publish-charm
      - lib-needs-publishing
    if: ${{ github.ref_name == 'main' }}
    uses: canonical/sdcore-github-workflows/.github/workflows/publish-lib.yaml@main
    with:
      lib-name: "charms.sdcore_upf.v0.fiveg_n3"
    secrets: inherit
